[Oo]bj
[Bb]in
*.suo
*.user
*.dll
*.xap
Source/WickedSick.Fayde.Client.Engine/Fayde.js
Source/WickedSick.Fayde.Client.Engine/Fayde.order
JsBin/Fayde.js
JsBin/Fayde.order
JsBin/Fayde.Generic.js
Source/WickedSick.Fayde.Client.Engine/Fayde-New.d.ts
Source/WickedSick.Fayde.Client.Engine/Fayde-New.js
*.js.map
Source/jsbin/Fayde.Generic.js
Source/jsbin/Fayde.js
Source/jsbin/Fayde.tsorder
Source/WickedSick.Fayde.Client.Engine/Fayde.ts
Source/WickedSick.Fayde.Client.Engine/Fayde.tsorder
Source/WickedSick.Fayde.Client.Engine/Typescript/*.js
