[Oo]bj
[Bb]in
*.suo
*.user
*.dll
*.xap
*.js.map
Source/jsbin/Fayde.Generic.js
Source/jsbin/Fayde.js
Source/jsbin/Fayde.tsorder
Website/Fayde.Demos.MarchMadnessDemo/Bracket.fayde.js
Website/Fayde.Demos.MarchMadnessDemo/default.fap.js
Website/Fayde.Demos.MarchMadnessDemo/default.fayde.js
Website/Fayde.Demos.MarchMadnessDemo/Team.fayde.js
Website/Fayde.Demos.MarchMadnessDemo/ViewModels/BracketViewModel.js
Website/Fayde.Demos.MarchMadnessDemo/ViewModels/Match.js
Website/Fayde.Demos.MarchMadnessDemo/ViewModels/MatchColumn.js
Website/Fayde.Demos.MarchMadnessDemo/ViewModels/Team.js
Website/Fayde.Demos.SDBDemo/default.fap.js
Website/Fayde.Demos.SDBDemo/root.fayde.js
Website/Fayde.Demos.SDBDemo/ViewModels/MainViewModel.js
Website/Fayde.Demos.StackOverflowDemo/default.fap.js
Website/Fayde.Demos.StackOverflowDemo/root.fayde.js
Website/Fayde.Demos.StackOverflowDemo/ViewModels/MainViewModel.js
Source/jsbin/Fayde.d.ts
Packages/*.nupkg
Source/Fayde.Client/Tests/BindingTests.js
Source/Fayde.Client/Tests/ItemsControlTests.js
Source/Fayde.Client/Tests/PrimitivesTests.js
Source/Fayde.Client/Tests/ProviderTests.js
Source/Fayde.Client/Tests/TimelineTests.js
Source/Fayde.Client/Tests/TransformTests.js
Source/Fayde.Client/Tests/XamlNodeTests.js
Source/Fayde.Client/Typescript/Collections/INotifyCollectionChanged.js
Source/Fayde.Client/Typescript/Collections/NotifyCollectionChangedEventArgs.js
Source/Fayde.Client/Typescript/Collections/ObservableCollection.js
Source/Fayde.Client/Typescript/Controls/Border.js
Source/Fayde.Client/Typescript/Controls/Button.js
Source/Fayde.Client/Typescript/Controls/Canvas.js
Source/Fayde.Client/Typescript/Controls/CheckBox.js
Source/Fayde.Client/Typescript/Controls/ColumnDefinition.js
Source/Fayde.Client/Typescript/Controls/ComboBox.js
Source/Fayde.Client/Typescript/Controls/ComboBoxItem.js
Source/Fayde.Client/Typescript/Controls/ContentControl.js
Source/Fayde.Client/Typescript/Controls/ContentPresenter.js
Source/Fayde.Client/Typescript/Controls/Control.js
Source/Fayde.Client/Typescript/Controls/ControlTemplate.js
Source/Fayde.Client/Typescript/Controls/Enums.js
Source/Fayde.Client/Typescript/Controls/Frame.js
Source/Fayde.Client/Typescript/Controls/Grid.js
Source/Fayde.Client/Typescript/Controls/GridLength.js
Source/Fayde.Client/Typescript/Controls/HyperlinkButton.js
Source/Fayde.Client/Typescript/Controls/Image.js
Source/Fayde.Client/Typescript/Controls/ItemCollection.js
Source/Fayde.Client/Typescript/Controls/ItemContainerGenerator.js
Source/Fayde.Client/Typescript/Controls/ItemsControl.js
Source/Fayde.Client/Typescript/Controls/ItemsPanelTemplate.js
Source/Fayde.Client/Typescript/Controls/ItemsPresenter.js
Source/Fayde.Client/Typescript/Controls/ListBox.js
Source/Fayde.Client/Typescript/Controls/ListBoxItem.js
Source/Fayde.Client/Typescript/Controls/MediaElement.js
Source/Fayde.Client/Typescript/Controls/Page.js
Source/Fayde.Client/Typescript/Controls/Panel.js
Source/Fayde.Client/Typescript/Controls/PasswordBox.js
Source/Fayde.Client/Typescript/Controls/Primitives/ButtonBase.js
Source/Fayde.Client/Typescript/Controls/Primitives/DragEventArgs.js
Source/Fayde.Client/Typescript/Controls/Primitives/IScrollInfo.js
Source/Fayde.Client/Typescript/Controls/Primitives/ItemsChangedEventArgs.js
Source/Fayde.Client/Typescript/Controls/Primitives/Popup.js
Source/Fayde.Client/Typescript/Controls/Primitives/RangeBase.js
Source/Fayde.Client/Typescript/Controls/Primitives/RepeatButton.js
Source/Fayde.Client/Typescript/Controls/Primitives/ScrollBar.js
Source/Fayde.Client/Typescript/Controls/Primitives/ScrollData.js
Source/Fayde.Client/Typescript/Controls/Primitives/ScrollEventArgs.js
Source/Fayde.Client/Typescript/Controls/Primitives/SelectionChangedEventArgs.js
Source/Fayde.Client/Typescript/Controls/Primitives/Selector.js
Source/Fayde.Client/Typescript/Controls/Primitives/SelectorSelection.js
Source/Fayde.Client/Typescript/Controls/Primitives/Thumb.js
Source/Fayde.Client/Typescript/Controls/Primitives/ToggleButton.js
Source/Fayde.Client/Typescript/Controls/ProgressBar.js
Source/Fayde.Client/Typescript/Controls/RadioButton.js
Source/Fayde.Client/Typescript/Controls/RichTextBox.js
Source/Fayde.Client/Typescript/Controls/RowDefinition.js
Source/Fayde.Client/Typescript/Controls/ScrollContentPresenter.js
Source/Fayde.Client/Typescript/Controls/ScrollViewer.js
Source/Fayde.Client/Typescript/Controls/Slider.js
Source/Fayde.Client/Typescript/Controls/StackPanel.js
Source/Fayde.Client/Typescript/Controls/TextBlock.js
Source/Fayde.Client/Typescript/Controls/TextBox.js
Source/Fayde.Client/Typescript/Controls/TextBoxBase.js
Source/Fayde.Client/Typescript/Controls/TextBoxView.js
Source/Fayde.Client/Typescript/Controls/ToolTip.js
Source/Fayde.Client/Typescript/Controls/ToolTipService.js
Source/Fayde.Client/Typescript/Controls/UserControl.js
Source/Fayde.Client/Typescript/Controls/VirtualizingPanel.js
Source/Fayde.Client/Typescript/Controls/VirtualizingStackPanel.js
Source/Fayde.Client/Typescript/Core/Clone.js
Source/Fayde.Client/Typescript/Core/DataTemplate.js
Source/Fayde.Client/Typescript/Core/DeferredValueExpression.js
Source/Fayde.Client/Typescript/Core/DependencyObject.js
Source/Fayde.Client/Typescript/Core/DependencyProperty.js
Source/Fayde.Client/Typescript/Core/Enums.js
Source/Fayde.Client/Typescript/Core/Expression.js
Source/Fayde.Client/Typescript/Core/FrameworkElement.js
Source/Fayde.Client/Typescript/Core/FrameworkTemplate.js
Source/Fayde.Client/Typescript/Core/InheritableOwner.js
Source/Fayde.Client/Typescript/Core/INotifyPropertyChanged.js
Source/Fayde.Client/Typescript/Core/LayoutInformation.js
Source/Fayde.Client/Typescript/Core/LayoutUpdater.js
Source/Fayde.Client/Typescript/Core/NameScope.js
Source/Fayde.Client/Typescript/Core/Providers/ActualSizeStore.js
Source/Fayde.Client/Typescript/Core/Providers/DataContextStore.js
Source/Fayde.Client/Typescript/Core/Providers/ImmutableStore.js
Source/Fayde.Client/Typescript/Core/Providers/ImplicitStyleBroker.js
Source/Fayde.Client/Typescript/Core/Providers/InheritedStore.js
Source/Fayde.Client/Typescript/Core/Providers/IsEnabledStore.js
Source/Fayde.Client/Typescript/Core/Providers/LocalStyleBroker.js
Source/Fayde.Client/Typescript/Core/Providers/PropertyStore.js
Source/Fayde.Client/Typescript/Core/ResourceDictionary.js
Source/Fayde.Client/Typescript/Core/ResourceTarget.js
Source/Fayde.Client/Typescript/Core/RoutedEvent.js
Source/Fayde.Client/Typescript/Core/RoutedEventArgs.js
Source/Fayde.Client/Typescript/Core/Setter.js
Source/Fayde.Client/Typescript/Core/SizeChangedEventArgs.js
Source/Fayde.Client/Typescript/Core/StaticResourceExpression.js
Source/Fayde.Client/Typescript/Core/Style.js
Source/Fayde.Client/Typescript/Core/TemplateBindingExpression.js
Source/Fayde.Client/Typescript/Core/Triggers.js
Source/Fayde.Client/Typescript/Core/TypeConverter.js
Source/Fayde.Client/Typescript/Core/UIElement.js
Source/Fayde.Client/Typescript/Core/VisualTreeHelper.js
Source/Fayde.Client/Typescript/Core/Walkers.js
Source/Fayde.Client/Typescript/Core/XamlNode.js
Source/Fayde.Client/Typescript/Core/XamlObject.js
Source/Fayde.Client/Typescript/Core/XamlObjectCollection.js
Source/Fayde.Client/Typescript/Data/Binding.js
Source/Fayde.Client/Typescript/Data/BindingBase.js
Source/Fayde.Client/Typescript/Data/BindingExpression.js
Source/Fayde.Client/Typescript/Data/BindingExpressionBase.js
Source/Fayde.Client/Typescript/Data/CollectionViewSource.js
Source/Fayde.Client/Typescript/Data/Enums.js
Source/Fayde.Client/Typescript/Data/ICollectionView.js
Source/Fayde.Client/Typescript/Data/PropertyPath.js
Source/Fayde.Client/Typescript/Data/PropertyPathParser.js
Source/Fayde.Client/Typescript/Data/PropertyPathWalker.js
Source/Fayde.Client/Typescript/Data/RelativeSource.js
Source/Fayde.Client/Typescript/Documents/Block.js
Source/Fayde.Client/Typescript/Documents/Inline.js
Source/Fayde.Client/Typescript/Documents/LineBreak.js
Source/Fayde.Client/Typescript/Documents/Paragraph.js
Source/Fayde.Client/Typescript/Documents/Run.js
Source/Fayde.Client/Typescript/Documents/Section.js
Source/Fayde.Client/Typescript/Documents/Span.js
Source/Fayde.Client/Typescript/Documents/TextElement.js
Source/Fayde.Client/Typescript/Documents/Underline.js
Source/Fayde.Client/Typescript/Engine/App.js
Source/Fayde.Client/Typescript/Engine/ClockTimer.js
Source/Fayde.Client/Typescript/Engine/DebugInterop.js
Source/Fayde.Client/Typescript/Engine/Dirty.js
Source/Fayde.Client/Typescript/Engine/Exceptions.js
Source/Fayde.Client/Typescript/Engine/RenderContext.js
Source/Fayde.Client/Typescript/Engine/Surface.js
Source/Fayde.Client/Typescript/Engine/XamlResolver.js
Source/Fayde.Client/Typescript/Input/ICommand.js
Source/Fayde.Client/Typescript/Input/Keyboard.js
Source/Fayde.Client/Typescript/Input/KeyboardNavigation.js
Source/Fayde.Client/Typescript/Input/KeyEventArgs.js
Source/Fayde.Client/Typescript/Input/KeyInterop.js
Source/Fayde.Client/Typescript/Input/MouseEventArgs.js
Source/Fayde.Client/Typescript/Markup/BindingMarkup.js
Source/Fayde.Client/Typescript/Markup/JsonParser.js
Source/Fayde.Client/Typescript/Markup/Markup.js
Source/Fayde.Client/Typescript/Markup/StaticResourceMarkup.js
Source/Fayde.Client/Typescript/Markup/TemplateBindingMarkup.js
Source/Fayde.Client/Typescript/Media/Animation/AnimationBase.js
Source/Fayde.Client/Typescript/Media/Animation/AnimationStore.js
Source/Fayde.Client/Typescript/Media/Animation/AnimationUsingKeyFrames.js
Source/Fayde.Client/Typescript/Media/Animation/BeginStoryboard.js
Source/Fayde.Client/Typescript/Media/Animation/ColorAnimation.js
Source/Fayde.Client/Typescript/Media/Animation/ColorAnimationUsingKeyFrames.js
Source/Fayde.Client/Typescript/Media/Animation/ColorKeyFrame.js
Source/Fayde.Client/Typescript/Media/Animation/Curves.js
Source/Fayde.Client/Typescript/Media/Animation/DoubleAnimation.js
Source/Fayde.Client/Typescript/Media/Animation/DoubleAnimationUsingKeyFrames.js
Source/Fayde.Client/Typescript/Media/Animation/DoubleKeyFrame.js
Source/Fayde.Client/Typescript/Media/Animation/EasingFunctionBase.js
Source/Fayde.Client/Typescript/Media/Animation/EasingFunctions.js
Source/Fayde.Client/Typescript/Media/Animation/Enums.js
Source/Fayde.Client/Typescript/Media/Animation/KeyFrame.js
Source/Fayde.Client/Typescript/Media/Animation/KeySpline.js
Source/Fayde.Client/Typescript/Media/Animation/ObjectAnimationUsingKeyFrames.js
Source/Fayde.Client/Typescript/Media/Animation/ObjectKeyFrame.js
Source/Fayde.Client/Typescript/Media/Animation/PointAnimation.js
Source/Fayde.Client/Typescript/Media/Animation/PointAnimationUsingKeyFrames.js
Source/Fayde.Client/Typescript/Media/Animation/PointKeyFrame.js
Source/Fayde.Client/Typescript/Media/Animation/RepeatBehavior.js
Source/Fayde.Client/Typescript/Media/Animation/Storyboard.js
Source/Fayde.Client/Typescript/Media/Animation/Timeline.js
Source/Fayde.Client/Typescript/Media/Brush.js
Source/Fayde.Client/Typescript/Media/Effects/BlurEffect.js
Source/Fayde.Client/Typescript/Media/Effects/DropShadowEffect.js
Source/Fayde.Client/Typescript/Media/Effects/Effect.js
Source/Fayde.Client/Typescript/Media/EllipseGeometry.js
Source/Fayde.Client/Typescript/Media/Enums.js
Source/Fayde.Client/Typescript/Media/GeneralTransform.js
Source/Fayde.Client/Typescript/Media/Geometry.js
Source/Fayde.Client/Typescript/Media/GeometryGroup.js
Source/Fayde.Client/Typescript/Media/GradientBrush.js
Source/Fayde.Client/Typescript/Media/GradientMetrics.js
Source/Fayde.Client/Typescript/Media/GradientStop.js
Source/Fayde.Client/Typescript/Media/Imaging/BitmapImage.js
Source/Fayde.Client/Typescript/Media/Imaging/BitmapSource.js
Source/Fayde.Client/Typescript/Media/Imaging/ImageBrush.js
Source/Fayde.Client/Typescript/Media/Imaging/ImageSource.js
Source/Fayde.Client/Typescript/Media/LinearGradientBrush.js
Source/Fayde.Client/Typescript/Media/LineGeometry.js
Source/Fayde.Client/Typescript/Media/Matrix.js
Source/Fayde.Client/Typescript/Media/Matrix3D.js
Source/Fayde.Client/Typescript/Media/Matrix3DProjection.js
Source/Fayde.Client/Typescript/Media/MediaParser.js
Source/Fayde.Client/Typescript/Media/PathFigure.js
Source/Fayde.Client/Typescript/Media/PathGeometry.js
Source/Fayde.Client/Typescript/Media/PathSegment.js
Source/Fayde.Client/Typescript/Media/PathSegments.js
Source/Fayde.Client/Typescript/Media/PlaneProjection.js
Source/Fayde.Client/Typescript/Media/Projection.js
Source/Fayde.Client/Typescript/Media/RadialGradientBrush.js
Source/Fayde.Client/Typescript/Media/RectangleGeometry.js
Source/Fayde.Client/Typescript/Media/SolidColorBrush.js
Source/Fayde.Client/Typescript/Media/TextOptions.js
Source/Fayde.Client/Typescript/Media/TileBrush.js
Source/Fayde.Client/Typescript/Media/Transform.js
Source/Fayde.Client/Typescript/Media/Transforms.js
Source/Fayde.Client/Typescript/Media/VSM/VisualState.js
Source/Fayde.Client/Typescript/Media/VSM/VisualStateGroup.js
Source/Fayde.Client/Typescript/Media/VSM/VisualStateManager.js
Source/Fayde.Client/Typescript/Media/VSM/VisualTransition.js
Source/Fayde.Client/Typescript/MVVM/ObservableObject.js
Source/Fayde.Client/Typescript/MVVM/RelayCommand.js
Source/Fayde.Client/Typescript/MVVM/ViewModelBase.js
Source/Fayde.Client/Typescript/Navigation/NavService.js
Source/Fayde.Client/Typescript/Primitives/Clip.js
Source/Fayde.Client/Typescript/Primitives/Color.js
Source/Fayde.Client/Typescript/Primitives/CornerRadius.js
Source/Fayde.Client/Typescript/Primitives/Duration.js
Source/Fayde.Client/Typescript/Primitives/Font.js
Source/Fayde.Client/Typescript/Primitives/FontFamily.js
Source/Fayde.Client/Typescript/Primitives/KeyTime.js
Source/Fayde.Client/Typescript/Primitives/Point.js
Source/Fayde.Client/Typescript/Primitives/RawMatrix.js
Source/Fayde.Client/Typescript/Primitives/rect.js
Source/Fayde.Client/Typescript/Primitives/size.js
Source/Fayde.Client/Typescript/Primitives/Thickness.js
Source/Fayde.Client/Typescript/Primitives/TimeSpan.js
Source/Fayde.Client/Typescript/Primitives/Uri.js
Source/Fayde.Client/Typescript/Runtime/AjaxJsonRequest.js
Source/Fayde.Client/Typescript/Runtime/BError.js
Source/Fayde.Client/Typescript/Runtime/Debug.js
Source/Fayde.Client/Typescript/Runtime/Enum.js
Source/Fayde.Client/Typescript/Runtime/Enumerable.js
Source/Fayde.Client/Typescript/Runtime/EventArgs.js
Source/Fayde.Client/Typescript/Runtime/MulticastEvent.js
Source/Fayde.Client/Typescript/Runtime/Nullstone.js
Source/Fayde.Client/Typescript/Runtime/PropertyInfo.js
Source/Fayde.Client/Typescript/Runtime/StringEx.js
Source/Fayde.Client/Typescript/Shapes/DoubleCollection.js
Source/Fayde.Client/Typescript/Shapes/Ellipse.js
Source/Fayde.Client/Typescript/Shapes/Enums.js
Source/Fayde.Client/Typescript/Shapes/Line.js
Source/Fayde.Client/Typescript/Shapes/Path.js
Source/Fayde.Client/Typescript/Shapes/PointCollection.js
Source/Fayde.Client/Typescript/Shapes/Polygon.js
Source/Fayde.Client/Typescript/Shapes/Polyline.js
Source/Fayde.Client/Typescript/Shapes/RawPath.js
Source/Fayde.Client/Typescript/Shapes/Rectangle.js
Source/Fayde.Client/Typescript/Shapes/Shape.js
Source/Fayde.Client/Typescript/Text/History.js
Source/Fayde.Client/Typescript/Text/TextAttributes.js
Source/Fayde.Client/Typescript/Text/TextLayout.js
Source/Fayde.Client/Fayde.d.ts
Source/Fayde.Client/Fayde.js
Source/Fayde.Client/Fayde.ts
Source/Fayde.Client/Fayde.tsorder
Source/Fayde.Client/Typescript/Xaml/XamlLoader.js
Source/Fayde.Client/Tests/XamlLoadTests.js
Source/Fayde.Client/Typescript/Runtime/TypeManagement.js
Source/Fayde.Client/Typescript/Engine/Application.js
Source/Fayde.Client/Typescript/Xaml/MarkupExpressionParser.js
Source/Fayde.Client/Typescript/Primitives/Length.js
Source/Fayde.Client/Tests/TypeConverterTests.js
Source/Fayde.Client/Typescript/Runtime/AjaxRequest.js
Source/Fayde.Client/Typescript/Xaml/StaticResource.js
Source/Fayde.Client/Typescript/Xaml/TemplateBinding.js
Source/Fayde.Client/Typescript/Xaml/Sources.js
Source/Fayde.Client/Typescript/Runtime/TimelineProfile.js
Source/Fayde.Client/Typescript/Runtime/BatchLoad.js
Source/Fayde.Client/Typescript/Xaml/Resources.js
