body
{
    margin: 0;
    background-position: center center;
    background-image: url('images/bg.jpg');
    background-repeat: repeat-y;
    font-family: 'Segoe UI', 'Lucida Sans Unicode', Verdana;
}

#all
{
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

#content
{
    margin-left: 15px;
    margin-right: 15px;
}

h1
{
    color: #013C6C;
    font-size: 50px;
    font-family: 'Segoe UI Light', 'Lucida Sans Unicode', Verdana;
}

h2
{
    font-family: 'Segoe UI Light', 'Lucida Sans Unicode', Verdana;
}

h3
{
    font-family: 'Segoe UI Light', 'Lucida Sans Unicode', Verdana;
}

.menu
{
    margin: 20px;
    padding: 0;
}

.menu li
{
    font-size: 28px;
    display: inline;
    margin-right: 20px;
}

.menu li a
{
    color: gray;
    text-decoration: none;
    font-family: 'Segoe UI Light', 'Lucida Sans Unicode', Verdana;
}
 
.menu li a:hover
{
    color: black;
    font-family: 'Segoe UI Light', 'Lucida Sans Unicode', Verdana;
}

.main
{
    padding: 0px 40px 0px 40px;
}

.expanded #subtree
{
    display: block;
}

.collapsed #subtree
{
    display: none;
}

.feature_has_children:hover
{
    cursor: pointer;
    font-weight: bold;
}

.feature_namespace
{
    list-style-image: url('images/namespace.jpg');
}
.feature_class
{
    list-style-image: url('images/class.jpg');
}
.feature_property
{
    list-style-image: url('images/property.jpg');
}
.feature_method
{
    list-style-image: url('images/method.jpg');
}
.feature_event
{
    list-style-image: url('images/event.jpg');
}

.support_level_full
{
    font-weight: bold;
    font-size: 12px;
    color: green;
}
.support_level_partial
{
    font-weight: bold;
    font-size: 11px;
    color: orange;
}
.support_level_none
{
    font-weight: bold;
    font-size: 11px;
    color: red;
}