body
{
    margin: 0;
    background-position: center center;
    background-image: url('images/bg.jpg');
    background-repeat: repeat-y;
    font-family: 'Segoe UI Light', 'Lucida Sans Unicode', Verdana;
}

#all
{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

#content
{
    margin-left: 15px;
    margin-right: 15px;
}

h1
{
    color: #013C6C;
    font-size: 50px;
}

.menu
{
    margin: 20px;
    padding: 0;
}

.menu li
{
    font-size: 28px;
    display: inline;
    margin-right: 20px;
}

.menu li a
{
    color: gray;
    text-decoration: none;
}
 
.menu li a:hover
{
    color: black;
}

.main
{
    padding: 0px 40px 0px 40px;
}