<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net"
             xmlns:db="http://www.springframework.net/database"
             xmlns:tx="http://www.springframework.net/tx">

      <db:provider id="FaydeDbProvider"
                   provider="SqlServer-2.0"
                   connectionString="Server=(local);Database=Fayde;User=WickedSick;Password=pa$$w0rd;"/>

      <object id="FaydeSessionFactory" type="WickedSick.ForumScraper.FluentNhibernateLocalSessionFactoryObject, WickedSick.ForumScraper">
        <property name="DbProvider" ref="FaydeDbProvider"/>
        <property name="FluentNhibernateMappingAssemblies">
          <list>
            <value>WickedSick.ForumScraper</value>
          </list>
        </property>
        <property name="ExposeTransactionAwareSessionFactory" value="true" />
        <property name="HibernateProperties">
          <dictionary>
            <entry key="connection.provider"
                   value="NHibernate.Connection.DriverConnectionProvider"/>
            <entry key="dialect"
                   value="NHibernate.Dialect.MsSql2008Dialect"/>
            <entry key="connection.driver_class"
                   value="NHibernate.Driver.SqlClientDriver"/>
            <entry key="show_sql"
                   value="false"/>
          </dictionary>
        </property>
      </object>

      <object id="SLForumMemberRepository" type="WickedSick.ForumScraper.SLForumMemberRepository, WickedSick.ForumScraper">
        <property name="SessionFactory" ref="FaydeSessionFactory"/>
      </object>
    </objects>
  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
