<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".fap" mimeType="text/xaml" />
            <mimeMap fileExtension=".fayde" mimeType="text/xaml" />
        </staticContent>
    </system.webServer>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0" />
    </system.web>
</configuration>