<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="*" path="/" name="FaydeHttpHandler" type="WickedSick.Server.Framework.Fayde.FaydeHttpHandler"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
