<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fayde" version="0.9.7.8" targetFramework="net45" />
  <package id="RequireJS" version="2.1.10" targetFramework="net45" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.1.7" targetFramework="net45" />
</packages>