body {
    font-family: SegoeUI, 'Segoe UI', Arial, sans-serif;
    background-image: url('../images/background-grid.gif');
    background-attachment: fixed;
    position: relative;
    padding-top: 50px;
    color: #76858E;
    text-shadow: 0 1px 1px rgba(255,255, 255,.5);
}
p a {
    text-decoration: underline;
    color: #76858E;
}
li a {
    text-decoration: underline;
    color: #76858E;
}
#demos a {
    text-decoration: underline;
    color: #76858E;
}


.jumbotron {
    background-color: transparent;
}
.jumbotron p {
    font-size: 1.1em;
}
.jumbotron li {
    font-size: 1.1em;
}
.jumbotron h1 {
    margin-top: 0px;
    color: #283776;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.jumbotron h2 {
    color: #283776;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    margin-top: 0;
}
.jumbotron h4 {
    color: #283776;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-top: 0;
}


.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffb241;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-shadow: black 0 1px 1px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffb241;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    font-size: 28px;
    color: white;
    text-shadow: black 0 1px 1px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffb241;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ffb241;
    background-color: transparent;
}
.navbar-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 13px 10px;
    padding: 13px 10px !important;
    background-position: center center;
    background-repeat: no-repeat;
}
#navigation {
    background-color: #314267;
}
#twitter {
    background-image: url('../images/twitter-white.ico');
}
#twitter:hover {
    background-image: url('../images/twitter-blue.ico');
}
#uservoice {
    background-image: url('../images/uservoice-white.ico');
}
#uservoice:hover {
    background-image: url('../images/uservoice-orange.ico');
}
#github {
    background-image: url('../images/github-white.ico');
}
#github:hover {
    background-image: url('../images/github-blue.ico');
}


.tagline {
    text-align: center;
    font-style: italic;
    margin-top: -6px;
    color: #283776;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.highlights {
    margin: 0;
    border: 1px solid #2d4476;
    border-radius: 10px;
    padding-top: 20px;
    background-color: #3b7cb9;
    color: white;
    text-shadow: black 0px 1px 1px;
}
.highlights ul {
    margin: 10px 15px 10px 0px;
    font-size: 16px;
}
@media (min-width: 768px) {
    .highlights ul {
        margin: 20px 30px;
    }
}
@media (min-width: 992px) {
    .highlights {
        margin: 70px 0 0 0;
    }
}
.feature {
    padding-top: 50px;
    margin-top: -50px;
}
.feature .jumbotron {
    display: table;
}
.column {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}


#operating_systems {
    text-align: center;
    margin-bottom: -15px;
    padding-top: 15px;
}
#operating_systems img {
    width: 48px;
}
#browsers {
    text-align: center;
    margin-top: -15px;
}
#browsers img {
    width: 48px;
    margin-left: 5px;
}
@media (min-width: 992px) {
    #operating_systems {
        float: left;
        margin-left: 20px;
        padding-top: 12px;
    }
    #operating_systems img {
        width: auto;
    }
    #browsers {
        float: right;
        margin-right: 20px;
        margin-top: -50px;
    }
    #browsers img {
        width: auto;
        margin-left: 10px;
    }
}
@media (min-width: 1200px) {
    #operating_systems {
        margin-left: 50px;
    }
    #browsers {
        margin-right: 50px;
    }
}


#demos {
    text-align: center;
}
#demos img {
    height: 200px;
    max-width: 100%;
}
#demos div {
    display: inline-block;
    padding: 20px;
    font-style: italic;
}


#footer {
    background-color: #314267;
    color: white;
    font-size: 12px;
    text-shadow: black 0px 1px 1px;
    text-align: center;
    padding: 10px;
}
#footer a {
    color: white;
    text-decoration: underline;
}


#signup {
    margin-top: 70px;
}
#mc_embed_signup {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
}
#mc-embedded-subscribe {
    color: white;
}
input#mc-embedded-subscribe:hover,
input#mc_embedded_subscribe:focus {
    color: #ffb241;
}


table.data {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid #AAAAAA;
}
table.data td,
table.data th {
    border-bottom: 1px solid #AAAAAA;
    padding: 4px;
}
table.data th {
    color: #777777;
    background-color: #ededed;
}
table.data td h4 {
    margin-bottom: 0;
    margin-left: 10px;
}
ol.steps li {
    margin-top: 40px;
    min-height: 300px;
}


.wrap_panel {
    padding: 0px;
    margin: 0px auto;
}
.box {
    float: left;
    margin: 10px 0;
    width: 100%;
    background-color: white;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
}
@media (min-width: 992px) {
    .box {
        width: 45%;
        height: 180px;
        margin: 10px;
    }
}
@media (min-width: 1200px) {
    .box {
        width: 30%;
    }
}
.box .header {
    background-color: #007a0e;
    border-radius: 4px 4px 0 0;
    margin: -1px;
}
.box .detail {
    padding: 10px 20px;
}

.box i {
    color: white;
    float: left;
    padding: 12px;
    text-shadow: black 0 1px 1px;
}
.box h4 {
    color: white;
    text-shadow: black 0 1px 1px;
    padding: 10px 20px;
    margin-bottom: 0;
}

.box2 .header {
    background-color: #314267;
}
.box3 .header {
    background-color: #dc7d1a;
}


ol.steps img {
    width: 300px;
    margin-left: -20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px silver;
}
@media (min-width: 768px) {
    ol.steps img {
        width: 400px;
    }
}
@media (min-width: 992px) {
    ol.steps img {
        width: 100%;
    }
    ol.steps section {
        float: left;
        width: 45%;
    }
}








blockquote {
    font-size: 13px;
    background-color: #E4F0F1;
    color: #283776;
    padding: 10px 15px;
    margin: 0 0 15px;
    border: 1px solid #283776;
    border-radius: 4px;
}
pre {
    padding: 0;
    background-color: white;
    font-family: Monaco, monospace;
}
code {
    margin: 0;
}
