body {
    font-family: SegoeUI, 'Segoe UI', Arial, sans-serif;
    background-image: url('../images/background-grid.gif');
    background-attachment: fixed;
    position: relative;
    padding-top: 50px;

}
.jumbotron h1 {
    font-size: 80px;
    margin-top: 0px;
    color: #283776;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.jumbotron h2 {
    color: #283776;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    margin-top: 0;
}
.jumbotron h4 {
    color: #283776;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-top: 0;
}
.tagline {
    text-align: center;
    font-style: italic;
    margin-top: -6px;
    color: #283776;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffb241;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-shadow: black 0 1px 1px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffb241;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    font-size: 28px;
    color: white;
    text-shadow: black 0 1px 1px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffb241;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ffb241;
    background-color: transparent;
}
.jumbotron {
    color: #76858E;
    background-color: transparent;
}
.jumbotron p {
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(255,255, 255,.5);
}
.highlights {
    margin: 70px 0 0 0;
    border: 1px solid #2d4476;
    border-radius: 10px;
    padding-top: 20px;
    background-color: #3b7cb9;
    color: white;
    text-shadow: black 0px 1px 1px;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
blockquote {
    font-size: 13px;
    background-color: #E4F0F1;
    color: #283776;
    padding: 10px 15px;
    margin: 0 0 15px;
    border: 1px solid #283776;
    border-radius: 4px;
}

pre {
    padding: 0;
    background-color: white;
    font-family: Monaco, monospace;
}

code {
    margin: 0;
}
.feature {
    padding-top: 50px;
    margin-top: -50px;
}
.feature .jumbotron {
    display: table;
}
.column {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
#navigation {
    background-color: #314267;
}
#operating_systems {
    float: left;
    margin-left: 70px;
    padding-top: 8px;
}
#browsers {
    float: right;
    margin-right: 50px;
    margin-top: -50px;
}
#browsers img {
    margin-left: 15px;
}
#footer {
    background-color: #314267;
    color: white;
    font-size: 12px;
    text-shadow: black 0px 1px 1px;
    text-align: center;
    padding: 10px;
}
#footer a {
    color: white;
    text-decoration: underline;
}
#signup {
    margin-top: 70px;
}
#mc_embed_signup {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
}
#mc-embedded-subscribe {
    color: white;
}
input#mc-embedded-subscribe:hover,
input#mc_embedded_subscribe:focus {
    color: #ffb241;
}
table.data {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid #AAAAAA;
}
table.data td,
table.data th {
    border-bottom: 1px solid #AAAAAA;
    padding: 4px;
}
table.data th {
    color: #777777;
    background-color: #ededed;
}
table.data td h4 {
    margin-bottom: 0;
    margin-left: 10px;
}
p a {
    text-decoration: underline;
    color: #76858E;
}
li a {
    text-decoration: underline;
    color: #76858E;
}
.demos a {
    text-decoration: underline;
    color: #76858E;
}
ol.steps li {
    margin-top: 40px;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 13px 10px;
    padding: 13px 10px !important;
    background-position: center center;
    background-repeat: no-repeat;
}
#twitter {
    background-image: url('../images/twitter-white.ico');
}
#twitter:hover {
    background-image: url('../images/twitter-blue.ico');
}
#uservoice {
    background-image: url('../images/uservoice-white.ico');
}
#uservoice:hover {
    background-image: url('../images/uservoice-orange.ico');
}
#github {
    background-image: url('../images/github-white.ico');
}
#github:hover {
    background-image: url('../images/github-blue.ico');
}

.box {
    background-color: white;
    margin: 20px 10px;
    vertical-align: top;
}
.box i {
    color: white;
    float: left;
    padding: 10px;
    text-shadow: black 0 1px 1px;
}
.box h4 {
    background-color: #007a0e;
    color: white;
    text-shadow: black 0 1px 1px;
    padding: 10px 20px;
    margin-bottom: 0;
    border: none;
    border-radius: 4px 4px 0 0;
}
.box .detail {
    border: 1px solid #AAAAAA;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 10px 20px;
}

.box2 h4 {
    background-color: #314267;
}
.box3 h4 {
    background-color: #dc7d1a;
}

table.boxes td {
    vertical-align: top;
}
#yeoman {
    float: right;
    width: 50%;
    margin-top: -10px;
    padding: 0 20px;
}
#yo-fayde {
    float: right;
    width: 50%;
    margin-top: -20px;
}
#live-reload {
    margin: 0 -10px;
    float: right;
    width: 50%;
    margin-top: -30px;
}
#fayde-dev {
    float: right;
    width: 50%;
    margin-top: -20px;
}
ol.steps li {
    min-height: 300px;
}